# While Loop

In [5]:
squared_alist = []
alist = [1,2,3,4,5,6,7,8,9,10]
# using for loop
for i in alist:
    squared_alist.append(i**2)
squared_alist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
squared_alist = []
alist = [11,12,13,14,15,16,17,18,19,20,21]
# using while
a=0
while a<len(alist):
    squared_alist.append(alist[a]**2)
    a+=1
squared_alist

[121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441]

In [11]:
favourite_food= []
for a in range(5):
    ff = input("Favourite Food: press q to quit ")
    if ff =="q":
        break
    else:
        favourite_food.append(ff)
favourite_food

Favourite Food: press q to quit  biryani
Favourite Food: press q to quit  q

['biryani']

In [13]:
favourite_food= []
for a in range(5):
    ff = input("Favourite Food: press q to quit ")
    if ff =="q":
        break
    else:
        favourite_food.append(ff)
favourite_food

Favourite Food: press q to quit  Biryani
Favourite Food: press q to quit  Karahi
Favourite Food: press q to quit  Tikkka
Favourite Food: press q to quit  Nihari
Favourite Food: press q to quit  Paye

['Biryani', 'Karahi', 'Tikkka ', 'Nihari', 'Paye']

In [2]:
favourite_food= []
a = 0
while a<5:
    ff = input("Favourite Food: press q to quit ")
    if ff =="q":
        break
    else:
        favourite_food.append(ff)
        a+=1
favourite_food

Favourite Food: press q to quit  a
Favourite Food: press q to quit  s
Favourite Food: press q to quit  v
Favourite Food: press q to quit  b
Favourite Food: press q to quit  g

['a', 's', 'v', 'b', 'g']

In [10]:
favourite_food= []
flag = True
while flag:
    ff = input("Favourite Food: press q to quit ")
    if ff =="q":
        flag= False
    else:
        favourite_food.append(ff)
        a+=1
favourite_food

Favourite Food: press q to quit  q

[]

# Functions
         - Open functions >> print, type input, len, range, id, 
         - class function >> list function, dic, set tuple, strng
         - user defined function:

In [92]:
def greeteveryone():
    print("Welcome!")

In [24]:
greeteveryone()

Welcome!

In [94]:
def add():
    a =10
    b = 20
    print(a+b)

In [96]:
add()

30

In [98]:
add()

30

In [102]:
# parameter less function
# parameterised function
def greeteveryone(name):##parameter
    print(f"Welcome Mr.{name}!")

In [104]:
greeteveryone()

TypeError: greeteveryone() missing 1 required positional argument: 'name'

In [106]:
greeteveryone('Bilal')#argument

Welcome Mr.Bilal!

In [108]:
greeteveryone('Jamal')#argument

Welcome Mr.Jamal!

In [110]:
greeteveryone("Nasir")

Welcome Mr.Nasir!

In [112]:
def add(a,b):
    print(a+b)

In [114]:
add()

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [116]:
add(2,3)

5

In [118]:
add(5,6)

11

In [120]:
add("hassan", "nasir")

hassannasir

In [122]:
add(2,3,4)

TypeError: add() takes 2 positional arguments but 3 were given

In [124]:
def add(a,b,c=100,d):# default value
    print(a+b+c+d)

SyntaxError: parameter without a default follows parameter with a default (3780382420.py, line 1)

In [63]:
def add(a,b,d,c=100):# default value
    print(a+b+c+d)

In [65]:
add(1,2,3,4)

10

In [67]:
add(1,2,3)

106

In [69]:
def add(a=0,b=0,d=0,c=0):# default value
    print(a+b+c+d)

In [79]:
add(1,3,4)

8

# keyword argument

In [82]:
def generate_profile(name, age, qual, prof, gender):
    profile={'name':name, 'age':age, "qualification":qual, 'profession':prof,
            'gender':gender}
    print(profile)

In [84]:
generate_profile(age='23',prof="Doctor",gender='Female', name="Shabana",
                qual="MBBS")

{'name': 'Shabana', 'age': '23', 'qualification': 'MBBS', 'profession': 'Doctor', 'gender': 'Female'}

In [88]:
generate_profile('bilal', "Matric", 'PythonDev', gender='male',age=23)

TypeError: generate_profile() got multiple values for argument 'age'

# Arbitrary Arguments

In [165]:
def add(a,b=0, *other):
    print(a+b+sum(other))

In [167]:
add(11,2,3,4,5,5,6,7,7,8,8,9,9,0)

84

In [161]:
add(1,2,3,4,5,6,7,8,9,10)

1
2
(3, 4, 5, 6, 7, 8, 9, 10)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [155]:
sum((3, 4, 5, 6, 7, 8, 9, 10))

52

In [169]:
def profile_builder(name, age, qualification, income, *other_info):
    profile = {}
    profile['name'] = name
    profile['age'] = age
    profile['qualification'] = qualification
    profile['income'] = income
    profile['other_info'] = other_info

    print(profile)

In [171]:
profile_builder('arish',24,'Graduate', 40000, 'karachi', '5.8"', 'Fair', 'datascientsit')

{'name': 'arish', 'age': 24, 'qualification': 'Graduate', 'income': 40000, 'other_info': ('karachi', '5.8"', 'Fair', 'datascientsit')}

In [181]:
def profile_builder(name, age, qualification, income, **other_info):
    profile = {}
    profile['name'] = name
    profile['age'] = age
    profile['qualification'] = qualification
    profile['income'] = income
    profile['other_info'] = other_info

    print(profile)

In [183]:
profile_builder('arish',24,'Graduate', 40000, city='karachi', height='5.8"', complexion='Fair', profession='datascientsit')

{'name': 'arish', 'age': 24, 'qualification': 'Graduate', 'income': 40000, 'other_info': {'city': 'karachi', 'height': '5.8"', 'complexion': 'Fair', 'profession': 'datascientsit'}}

In [193]:
def profile_builder(name, age, qualification, income, **other_info):
    profile = {}
    profile['name'] = name
    profile['age'] = age
    profile['qualification'] = qualification
    profile['income'] = income
    # profile['city'] = other_info['city']
    profile.update(other_info)
    # profile['other'] = other_info

    print(profile)

In [195]:
profile_builder('arish',24,'Graduate', 40000, city='karachi', height='5.8"', complexion='Fair', profession='datascientsit')

{'name': 'arish', 'age': 24, 'qualification': 'Graduate', 'income': 40000, 'city': 'karachi', 'height': '5.8"', 'complexion': 'Fair', 'profession': 'datascientsit'}