In [4]:
a =2
b= 3
c =4

In [6]:
x1,x2 =   (-b+(b**2-4*a*c)**(0.5) )/2*a        , (-b-(b**2-4*a*c)**(0.5) )/2*a

In [8]:
x1

(-2.9999999999999996+4.795831523312719j)

In [10]:
x2

(-3.0000000000000004-4.795831523312719j)

# Tuple
     - ()
     - immutable (unchangable)
     - tuple iterable
     - index

In [13]:
atuple = (11,22,33,44,55,66)

In [15]:
print(type(atuple))

<class 'tuple'>

In [17]:
len(atuple)

6

In [19]:
atuple[3]

44

In [21]:
atuple[2:5]

(33, 44, 55)

In [23]:
atuple[0] = 1000

TypeError: 'tuple' object does not support item assignment

In [25]:
del atuple[4]

TypeError: 'tuple' object doesn't support item deletion

In [41]:
a = (12,)
print(type(a))

<class 'tuple'>

# Set
   - {}

In [29]:
aset = {3}

In [31]:
aset= {}

In [33]:
type(aset)

dict

In [35]:
bset={1,2,32,3,4,55,6,7,8,8,8,9}

In [37]:
len(bset)

10

# Conditional Statements/ If Clause/ Conditionals
     - if statement
     - if statment else
     - elif 
     - nested if's

In [52]:
age = int(input("Enter your age: "))
if age <18:
    print("Abhi tum chotay ho")
    print("Abhi vote nah dal sakte")
    print("Car dribe nahi karsakte")
else:
    print("Abhi tum bare hogae ho")
    print("Zara hosh karo")
    print("Career pe dhyan do")

Enter your age:  18

Abhi tum bare hogae ho
Zara hosh karo
Career pe dhyan do

In [56]:
numbers = int(input("Enter your numbers in Python test"))
if numbers >=25:
    print("Pass")
    print("Next test ki tayari karen")
else:
    print("Fail")
    print("Mehnat karen")

Enter your numbers in Python test 24

Fail
Mehnat karen

In [68]:
# take a number input and check if the number is even or odd
num = int(input("Enter a number:  "))
if num%2==0:
    print(f"{num} is a Even number")
else:
    print(f"{num} is an odd number")

Enter a number:   10

10 is a Even number

In [72]:
# take total shopping amount as input and if the amount is greater than 10000, calculate 15% discount 
# and show the total and total after discount.
total = int(input("Enter total shopping amount: "))
if total >=10000:
    discount = total *0.15
    print(f"""
             Total Amount Before Discount {total}
             15% Discount is {discount}
             Total Payable : {total-discount}
             """)
else:
    print(f"Total amount payable is {total}")

Enter total shopping amount:  9000

Total amount payable is 9000

In [74]:
friends_lst = ['ali','bilal','wajahat', 'shani', 'raza', 'sohaib', 'waway', 'asim']

In [80]:
name  = input("Please tell me your name: ").lower()
if name in friends_lst:
    print("Your are Welcome!")
else:
    print("Please wait, your name is missing")

Please tell me your name:  wALI

Please wait, your name is missing

# Multiple if's

In [91]:
# tamator: agr price >500, matlena, p>300, 1/2kg, 200>1kg 100>2kg 5kg
tomato_price = int(input("Tamator kia hisab hen?"))
if tomato_price >=500:
    print("Rehne do bhai")
elif tomato_price >=300:
    print("1/2 Kg deden")
elif tomato_price >=200:
    print("1 Kg deden")
elif tomato_price>=100:
    print("2kg deden")
else:
    print("5 Kg")

Tamator kia hisab hen? 90

5 Kg

In [109]:
tomato_price = int(input("Tamator kia hisab hen?"))
if tomato_price <100:
    print("5 kg")
elif tomato_price<=200:
    print("2 Kg")
elif tomato_price<=300:
    print("1Kg")
elif tomato_price<=400:
    print("1/2 Kg") 
else:
    print("mat lena")

Tamator kia hisab hen? 450

mat lena

# marks s1,s2,s3,s4,s5
#  total_obt = 
# percentage
90->A*, 80>A, 70>B, 60>c, 50>D, else fail

In [121]:
sub1 = float(input("Enter marks in subject1: "))
sub2 = float(input("Enter marks in subject2: "))
sub3 = float(input("Enter marks in subject3: "))
sub4 = float(input("Enter marks in subject4: "))
sub5 = float(input("Enter marks in subject5: "))
obtianed = sub1+sub2+sub3+sub4+sub5
total  = 500
grade = None
percentage  = obtianed/total * 100
if percentage>=90:
    grade = "A*"
elif percentage>=80:
    grade = "A"
elif percentage>=70:
    grade = "B"    
elif percentage>=60:
    grade = "C"    
elif percentage>=50:
    grade = "D"
else:
    grade ="Fail"

print(f"""
        Subject1 : {sub1}
        Subject2 : {sub2}
        Subject3 : {sub3}
        Subject4 : {sub4}
        Subject5 : {sub5}

        Total Marks Obtained: {obtianed}
        Percentage Obtained : {round(percentage,2)}
        Grade Achieved      : {grade}
        
""")

Enter marks in subject1:  0
Enter marks in subject2:  89
Enter marks in subject3:  90
Enter marks in subject4:  89
Enter marks in subject5:  90

        Subject1 : 0.0
        Subject2 : 89.0
        Subject3 : 90.0
        Subject4 : 89.0
        Subject5 : 90.0

        Total Marks Obtained: 358.0
        Percentage Obtained : 71.6
        Grade Achieved      : B

In [117]:
round(123.15634546565655, 3)

123.156