# More on Functons
    - return
    - global and local vaiable

In [18]:
name = "test"   # globbl
def profile_builder(name, age, qualification, income, **other_info):
    profile = {} # local varaible
    profile['name'] = name
    profile['age'] = age
    profile['qualification'] = qualification
    profile['income'] = income
    # profile['city'] = other_info['city']
    profile.update(other_info)
    return profile

In [20]:
profile_builder('arish',24,'Graduate', 40000, city='karachi', height='5.8"', complexion='Fair', profession='datascientsit')

{'name': 'arish',
 'age': 24,
 'qualification': 'Graduate',
 'income': 40000,
 'city': 'karachi',
 'height': '5.8"',
 'complexion': 'Fair',
 'profession': 'datascientsit'}

In [14]:
print(profile)

NameError: name 'profile' is not defined

In [22]:
def add(a,b):
    print(a+b)

In [26]:
add(10,20) + 30

30

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [38]:
def add(a,b):
    return a+b

In [48]:
print(add(2,3))

5

In [46]:
ans

5

In [50]:
def add(a,b):
    return a+b, "Pakistan Zindabad"

In [52]:
add(4,5)

(9, 'Pakistan Zindabad')

In [54]:
# salesman: commmsionCalc
# taxCalc
# Payment

In [66]:
def TaxCalc(income):
    if income>=50000:
        return income*0.10
    elif income>=40000:
        return income*0.05
    elif income>=30000:
        return income*0.03
    else:
        return income*0

In [68]:
def CommisionCalc(units):
    if units >=500:
        return 10000
    elif units>=250:
        return 5000
    elif units>=100:
        return 2000
    else:
        return 1000

In [74]:
def SalaryCalculator(basic, units_sales):
    comision = CommisionCalc(units_sales)
    total = basic+comision
    tax = TaxCalc(total)
    net  = total - tax
    return net

In [76]:
SalaryCalculator(50000, 120)

46800.0

In [92]:
def sum_list(lst):
    s = 0
    for a in lst:
        s+=a
    return s

In [94]:
sum_list([9,8,7,6,5,4,3,2,1,10])

55

In [6]:
def max_list(lst):
    max_num = lst[0]
    for n in lst:
        if n > max_num:
            max_num = n
    return max_num

In [10]:
max_list([12,34,34,23,145,65,78,90,34,2])

145

# Question:
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [21]:
def square_dic(n):
    sq = {}
    for a in range(1,n+1):
        square = a**2
        sq[a] = square
    return sq

In [23]:
square_dic(10)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [25]:
Question:
Write a program which accepts a sequence of comma separated 4 digit binary numbers 
as its input and then check whether they are divisible by 5 or not. 
The numbers that are divisible by 5 are to be printed in a comma separated sequence.
Example:
0100,0011,1010,1001
Then the output should be:
1010

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1498924990.py, line 6)

In [27]:
bn = input("Enter 4 comma separated 4digit binary numbers").split(",")
for n in bn:
    if int(n)%5==0:

Enter 4 comma separated binary numbers 1010,1,0101011,11101,1110

In [29]:
bn

['1010', '1', '0101011', '11101', '1110']

In [33]:
int(0b1010)

10

In [35]:
bin(10)

'0b1010'

ValueError: invalid literal for int() with base 10: '0b1111110010'