In [1]:
import pandas as pd

1.
Inspect the DataFrames using print and head:

visits lists all of the users who have visited the website
cart lists all of the users who have added a t-shirt to their cart
checkout lists all of the users who have started the checkout
purchase lists all of the users who have purchased a t-shirt

In [2]:
visits = pd.read_csv("visits.csv")
cart = pd.read_csv("cart.csv")
checkout = pd.read_csv('checkout.csv')
purchase = pd.read_csv('purchase.csv')

In [4]:
visits.head()

                                user_id           visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188  2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2  2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1  2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab  2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96  2017-02-27 11:25:00

In [14]:
cart.head()

                                user_id            cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168  2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973  2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663  2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3  2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974  2017-07-26 15:48:00

In [6]:
checkout.head()

                                user_id        checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d  2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e  2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d  2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a  2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd  2017-01-08 20:52:00

In [7]:
purchase.head()

                                user_id        purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85  2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac  2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc  2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d  2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867  2017-06-11 11:32:00

In [11]:
merged_visit_cart = visits.merge(cart,how='left')

In [12]:
merged_visit_cart.cart_time.isna().sum()

1652

In [17]:
(merged_visit_cart.cart_time.isna().sum() / merged_visit_cart.shape[0]) * 100

82.6

6.
Repeat the left merge for cart and checkout and count null values. What percentage of users put items in their cart,
but did not proceed to checkout?

In [18]:
merged_cart_checkout = cart.merge(checkout,how='left')

In [19]:
merged_cart_checkout

,user_id,cart_time,checkout_time
0,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:14:00
1,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 20:50:00
2,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:11:00
3,4397f73f-1da3-4ab3-91af-762792e25973,2017-05-27 01:35:00,NaN
4,a9db3d4b-0a0a-4398-a55a-ebb2c7adf663,2017-03-04 10:38:00,2017-03-04 11:04:00
...,...,...,...
477,59d2b685-383a-4fce-a325-35d985713a8b,2017-01-20 03:58:00,NaN
478,a1203970-92ae-4fc7-843e-e1740c1be9d5,2017-11-12 23:07:00,NaN
479,55de53ae-89f6-43ff-a26d-df284678aca1,2017-03-17 19:56:00,2017-03-17 20:04:00
480,0ea4cc68-dae4-4e35-b3e0-f0889932e1b5,2017-05-12 08:53:00,2017-05-12 08:57:00
481,0ea4cc68-dae4-4e35-b3e0-f0889932e1b5,2017-05-12 08:53:00,2017-05-12 09:20:00

In [21]:
merged_cart_checkout.checkout_time.isna().sum()

122

In [22]:
(merged_cart_checkout.checkout_time.isna().sum() / merged_cart_checkout.shape[0]) * 100

25.311203319502074